@charset "utf-8";

/*------------------------------------------------------------
	リセット
------------------------------------------------------------*/
html {
	overflow-y: scroll;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
-webkit-tap-highlight-color:#D0F3F7;	
}

ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	/*border-bottom:1px dotted #000;*/
	/*cursor:help;*/
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
	vertical-align:middle;
}

nav ul {
    list-style:none;
}

ol, ul {
	list-style: none;
}

img {
/*	vertical-align: bottom;
*/	font-size:0;
	line-height: 0;
	border: 0;
}

li {
	list-style-type: none;
}
a:focus {
	outline: none !important;
}


/*----------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------*/
body {
	background:#F5F5F5;
	color: #171A17;
	font-size:1.000em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", verdana, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}
a {
	color: #171A17;
}
a:link {
}
a:visited {
}
a:hover {
	opacity:0.7;
}
a:active {
	opacity:0.7;
}
.link a {
	display:block;
	background: url(../img/cmn/link_s.gif) left 50% no-repeat;
	padding: 0 0 0 8px;
	margin: 10px 0 0;
	color:#0291E6 !important;
}

/*　ボタン設定　*/
.btn_gray_r {/*灰色丸　シャドウなし*/
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#dee2de);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#dee2de));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e3e6e3;
	text-shadow:
		0px -1px 3px rgba(255,255,255,0.8),
		0px 1px 0px rgba(255,255,255,0.3);
		display:block;		
}
.btn_gray_s {/*灰色四角　シャドウなし*/
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#dee2de);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#dee2de));
/*	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/
	border: 1px solid #e3e6e3;
	text-shadow:
		0px -1px 3px rgba(255,255,255,0.8),
		0px 1px 0px rgba(255,255,255,0.3);
		display:block;		
}
.btn_gray_sdw {/*シャドウなしボタンの場合*/
	-moz-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
}
.btn_gray_rs {/*灰色丸 シャドウあり*/
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#dee2de);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#dee2de));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e3e6e3;
	text-shadow:
		0px -1px 3px rgba(255,255,255,0.8),
		0px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
		display:block;		
}
.btn_gray_r:active, .btn_gray_s:active, .btn_gray_rs:active {
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#F2F4F2);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#F2F4F2));
}


.btn_or_r {/*オレンジ丸*/
	background: -moz-linear-gradient(
		top,
		#EDA630 0%,
		#F05E38);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#EDA630),
		to(#F05E38));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #EF8234;
	text-shadow:
		0px -1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
		display:block;		
}

.btn_grn_r {/*緑丸*/
	background: -moz-linear-gradient(
		top,
		#AFC43F 0%,
		#68A045);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#AFC43F),
		to(#68A045));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #9FBC40;
	text-shadow:
		0px -1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0px 1px 1px rgba(79,73,79,0.2),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 1px rgba(79,73,79,0.2),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 1px rgba(79,73,79,0.2),
		inset 0px 0px 1px rgba(255,255,255,1);
		display:block;		
}


#fNavi a {
	display:inline-block;
	width:107px;
	height:28px;
	padding:10px 10px 10px 41px;
	font-size:1.000em;/*14px*/
	line-height:28px;
	position:relative;	
}
#fNavi a img {
	position:absolute;
	width:26px;
	height:26px;
	top:10px;
	left:10px;
}
#fNavi a img.icon12 {
	position:absolute;
	width:12px;
	height:12px;
	top:18px;
	left:18px;
}
.btn_pnk_r {/*注文確定設定*/
	background: -moz-linear-gradient(
		top,
		#F1403B 0%,
		#D30539);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#F1403B),
		to(#D30539));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #F51039;
	text-shadow:
		0px -1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
		display:block;		
	padding:5px 5% 5px 25%;
	width:65%;
	font-size:1.286em;/*18px*/
	height:50px;
	line-height:50px;
	position:relative;
	color:#FFFFFF;
	margin:0 auto 10px;
}
.btn_pnk_r img {/*注文確定設定*/
	position:absolute;
	width:26px;
	height:26px;
	top:16px;
	left:30px;
}
.btn_pnk_r_tk {
	position:relative;
	width:95%;
	margin:0 auto 10px;	
}
.btn_pnk_r_tk .input_pnk {/*注文確定設定*/
	background: -moz-linear-gradient(
		top,
		#F1403B 0%,
		#D30539);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#F1403B),
		to(#D30539));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #F51039;
	text-shadow:
		0px -1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 2px 3px rgba(79,73,79,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
		display:block;		
	padding:5px 5% 5px 26%;
	width:100%;
	font-size:1.286em;/*18px*/
	height:60px;
	line-height:30px;
	color:#FFFFFF;
	text-align:left;
}
.btn_pnk_r_tk img {/*注文確定設定*/
	position:absolute;
	width:26px;
	height:26px;
	top:16px;
	left:30px;
}

.f_order .btn_or_r {/*フッター注文設定*/
	padding:5px 5% 5px 20%;
	width:67%;
	font-size:1.286em;/*18px*/
	height:50px;
	line-height:50px;
	position:relative;
	color:#FFFFFF;
	font-weight:bold;
	margin:0 auto 5px;
}
.f_order .btn_or_r img {/*フッター注文設定*/
	position:absolute;
	width:26px;
	height:26px;
	top:16px;
	left:30px;
}
.f_order .btn_gray_rs {/*フッター注文設定*/
	padding:5px 5% 5px 20%;
	width:67%;
	font-size:1.143em;/*16px*/
	height:50px;
	line-height:1.2em;
	position:relative;
	text-align:left;
	color:#0291ED;
	margin:0 auto 5px;
}
.f_order .btn_gray_rs img {/*フッター注文設定*/
	position:absolute;
	width:26px;
	height:26px;
	top:16px;
	left:30px;
}
.order_flow .btn_gray_rs {/*商品一覧詳細　ご注文の流れ設定*/
	padding: 6px 5% 4px 25%;
	width: 65%;
	font-size:1.143em;/*16px*/
	height:30px;
	line-height:30px;
	position:relative;
	text-align:left;
	color:#0291ED;
	margin:0 auto 5px;
}
.f_order .order_flow .btn_gray_rs {/*商品一覧フッター　ご注文の流れ設定*/
	padding: 6px 5% 4px 20%;
	width: 67%;
}
.order_flow .btn_gray_rs img {/*商品一覧詳細　ご注文の流れ設定*/
	position:absolute;
	width:26px;
	height:26px;
	top:8px;
	left:30px;
}
#gFooter .btn_gray_rs {
	padding:5px 5% 5px 10%;
	width:72%;
	font-size:1.143em;/*16px*/
	height:30px;
	line-height:30px;
	position:relative;
	text-align:center;
	margin:0 auto 5px;
}
#gFooter .btn_gray_rs img {
	position:absolute;
	width:26px;
	height:26px;
	top:7px;
	left:76px;
}
.flow .switchDetail .btn_gray_rs {/*ご注文方法設定*/
	padding:5px 5% 5px 10%;
	font-size:1.000em;/*14px*/
	height:32px;
	line-height:32px;
	position:relative;
	text-align:center;
	margin: 10px auto;
	color:#0291ED;
}
.flow .switchDetail .btn_gray_rs img {
	position:absolute;
	width:26px;
	height:26px;
	top:9px;
	left:10px;
}
.flow .fax .btn_gray_rs {/*ご注文方法設定*/
	padding:5px 5% 5px 10%;
	font-size:1.000em;/*14px*/
	height:36px;
	line-height:18px;
	position:relative;
	text-align:center;
	margin: 10px auto;
	color:#0291ED;
}
.flow .fax .btn_gray_rs img {
	position:absolute;
	width:26px;
	height:26px;
	top:12px;
	left:10px;
}
.orderbimg .btn_gray_rs {/*閉じる*/
	padding:5px 5% 5px 10%;
	font-size:1.000em;/*14px*/
	height:32px;
	line-height:32px;
	position:relative;
	text-align:center;
	margin: 10px auto;
	color:#0291ED;
	width:80%;
}
.orderbimg .btn_gray_rs img {
	position:absolute;
	width:26px;
	height:26px;
	top:9px;
	left:10px;
}



/* アイコン設定 */
.moveu12_l {
	background-image:url(../img/cmn/icon_move.png);
	background-repeat:no-repeat;
	width:12px;
	height:12px;
	margin:8px 5px 0 0;
	display:block;
	float:left;	
}
.moveu12_l {
	background-position:-24px 0;
}
.moveu12_r, .mover12_r, .mover12_r {
	position:absolute;
	top:12px;
	right:8px;
	background-image:url(../img/cmn/icon_move.png);
	background-repeat:no-repeat;
	width:12px;
	height:12px;
	display:block;
}
.mover12_r {
	background-position:-12px 0;
}
.itemNavi .mover12_r {
	float: none;
	position: absolute;
	top:50%;
	right:0;
	background-position:-12px 0;
}
.itemNavi .item4up .mover12_r {
	float: none;
	position: absolute;
	top:38%;
	right:0;
	background-position:-12px 0;
}


/*----------------------------------------------------
	#container
----------------------------------------------------*/
#container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}
/* -----------------------------------------------------------
	#gHeader
		ヘッダー
----------------------------------------------------------- */
#gHeader {
	position:relative;
	width:100%;
	background:#FFFFFF;
	border-top:3px solid #87B335;
	height:47px;
}
#logo {
	position:absolute;
	width:140px;
	height:28px;
	padding:0 10px 0 0;
	top:13px;
	left:10px;
}
#logo img, .btn_login img {
	width:100%;
}
.btn_login {
	position:absolute;
	top:10px;
	right:10px;
	width:34px;
	height:30px;
}
.btn_login a {
	line-height:1em;
	padding:5px 6px;
}
h1 {
	position:absolute;
	top:14px;
	right:50px;
	width:125px;
	font-size:0.7em;/*10px*/
	line-height:1.2em;
	font-weight:normal;
	text-align:right;
}
/* -----------------------------------------------------------
	#subNavi
		サブナビ
----------------------------------------------------------- */
#subNavi {
	width:320px;
	height:50px;	
	margin:0 auto 10px;
	overflow:hidden;
}

/* ボタン設定詳細 */
#subNavi {
	width:320px;
	height:50px;	
	margin:0 auto 10px;
	overflow:hidden;
}
#subNavi a {
	display:inline-block;
	width:107px;
	height:28px;
	padding:10px 10px 10px 41px;
	font-size:1.000em;/*14px*/
	line-height:28px;
	position:relative;
}
.subNavi_col1 {
	line-height:32px;
}
.subNavi_col2 {
	line-height:16px;
}
#subNavi .subNavi_col1 img,
#subNavi .subNavi_col2 img {
	position:absolute;
	width:26px;
	height:26px;
	top:10px;
	left:10px;
}
/* アイコン設定詳細 */
#subNavi .moveu12_r {
	background-position:-24px 0;
	margin:8px 0 0 0;	
}



/* -----------------------------------------------------------
	#container
		article 記事本文・共通事項
----------------------------------------------------------- */
#container {
}

h2 {
	background:#206C27;
	height:20px;
	line-height:20px;
	padding:10px;
	color:#FFFFFF;
	font-size:1.143em;/*16px*/
}
h3 {
	/* height:20px;
	line-height:20px; */
	padding:10px;
	color:#FFFFFF;
	font-size:1.143em;/*16px*/
    background: linear-gradient(top, #34B825 0%,#30A23B 100%);
	background: -moz-linear-gradient(
		top,
		#34B825 0%,
		#30A23B);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#34B825),
		to(#30A23B));
    letter-spacing: 1px;
    border-radius: 3px 3px 0 0 ;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	margin:20px auto 0;
	width:87%;
}
.order h3 {
    background: linear-gradient(top, #8CC239 0%,#3EAE49 100%);
	background: -moz-linear-gradient(
		top,
		#8CC239 0%,
		#3EAE49);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#8CC239),
		to(#3EAE49));
	height:20px;
	line-height:20px;
	padding:10px;
	color:#FFFFFF;
    letter-spacing: 1px;
	margin:20px auto 0;
	font-size:1.143em;/*16px*/
	width:auto;
    border-radius: 0;
}
h5 {
	background:#E4E7E4;
	/* height:20px; */
	line-height:20px;
	padding:5px;
	font-size:1.000em;/*14px*/
	width:96%;
	margin:0 auto 10px;
}
.news h5 {
	height: auto;
	margin-bottom: 20px;
}
h6 {
	border-left:5px solid #44A637;
	padding:0 0 0 8px;
	font-size:1.000em;/*14px*/
	width:92%;
	margin:0 auto 5px;
}
h4 {
}
h4.switchHat {/* 開閉リスト */
	padding:5px 10px;
	margin:0 auto;
	width:87%;
	height:34px;
	line-height:34px;	
	border-bottom:1px solid #E3E6E3;
	font-size:1.000em;/*14px*/
	font-weight:normal;
	background:url(../img/cmn/open13.png) 95% 50% no-repeat #FFFFFF;
}
h4.nowOpen {/* 開閉リスト */
	background:url(../img/cmn/close13.png) 95% 50% no-repeat #FFFFFF;
	padding:5px 10px;
	margin:0 auto;
	width:87%;
	height:34px;
	line-height:34px;	
	border-bottom:none;
	font-size:1.000em;/*14px*/
	font-weight:normal;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.switchDetail {/* 開閉リスト */
    background: #fff;
	border-bottom:1px solid #E3E6E3;
	margin:0 auto;
	width:87%;
	padding:20px 10px;
/*    min-height: 250px;
*/    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 0 3px 3px;
	font-size:1.000em;/*14px*/	
}

#mainNavi {
}
#mainNavi a {/*共通*/
	position:relative;
	display:block;
	background-color:#FFFFFF;
	padding:5px 15px 5px 10px;
	min-width:295px;
	height:34px;
	border-bottom:1px solid #E3E6E3;
	font-size:1.000em;/*14px*/
	line-height:34px;	
}
/*アイコン詳細設定*/
#mainNavi .moveu12_r {
	background-position:-24px 0;
	margin:5px 0 0 0;
}
#mainNavi .mainNavi_txtLong {/*共通*/
	height:auto;
	line-height:1.2em;	
}

.box01 {/*タイトルありBOX*/
    background: #fff;
	margin:0 auto 0;	
	width:87%;
	padding:10px 10px 20px;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 0 3px 3px;
	font-size:1.000em;/*14px*/	
}
.box02 {/*タイトルなしBOX*/
    background: #fff;
	margin:20px auto 0;
	width:87%;
	padding:10px 10px 20px;
    min-height: 420px;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 3px 3px 3px 3px;
	font-size:1.000em;/*14px*/
}
.box03 {/*タイトルあり横幅100%BOX*/
    background: #fff;
	margin:0 auto 0;	
	padding:10px 10px 20px;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 0 3px 3px;
	font-size:1.000em;/*14px*/	
}
.table_tt_orb {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #44A637;
}


/* -----------------------------------------------------------
	.indexpage
		トップページ
----------------------------------------------------------- */
.indexpage {
}
.indexpage nav ul li img {
	vertical-align:bottom;
}
.indexpage #mainNavi a {
	display:block;
	background-color:#FFFFFF;
	padding:4px 10px;
	min-width:300px;
	height:50px;
	border-bottom:1px solid #E3E6E3;
	font-size:1.143em;/*16px*/
	line-height:50px;
}
.indexpage #mainNavi a img {
	vertical-align:bottom;
}
/*アイコン設定*/
.indexpage #mainNavi .mover12_r {
	background-position:-12px 0;
	margin:12px 0 0 0;
}


/*タブ切り替え*/
.tabs {
    position: relative;
   /* width: 320px;*/
	/*min-height:614px;*/
	padding:10px 0 0;
	margin:0 auto;
}

.motion {
	display: none;
    background: #fff;
    /*position: absolute;
    top: 50px;
    left: 0;
	margin:40px auto 0;*/
	margin:0 auto;
    width: 100%;
    min-height: 420px;
    z-index: 4;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;	
}

#motion_area1 {
	display: block;
}
.tabs .btn_act {
    background: linear-gradient(top, #8CC239 0%,#3EAE49 100%);
	background: -moz-linear-gradient(
		top,
		#8CC239 0%,
		#3EAE49);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#8CC239),
		to(#3EAE49));
    line-height: 40px;
    height: 40px;
    position: relative;
    padding: 0 5px;
    float: left;
    display: block;
    width: 90px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
	font-size:0.857em;/*12px*/
}
.tabs a.btn_act:hover {
    background: #3EAE49;
}
.tabs a.active {
	background: #FFF;
    z-index: 5;	
}
.tabs a.active:hover {
	background: #FFF;
}
.tabs .btn01 {
    z-index: 3;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
	margin:0 0 0 10px;
}
.tabs .btn02 {
    z-index: 2;
}
 
.tabs .btn03 {
    z-index: 1;
}
.tabs .btn_act:after {
    content: '';
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
}

/* /タブ切り替え*/
.itemNavi {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
}
.order .itemNavi {
	width:100%;
	height:auto;
	margin:0;
	padding:0;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
}
.itemNavi a {
	display:block;
	background-color:#FFFFFF;
	padding:15px 10px 10px;
/*	width:300px;
	height:140px;*/
	border-bottom:1px solid #E3E6E3;
	font-size:1.143em;/*16px*/
}
.itemNavi figure {
	position: relative;	
	display: -webkit-box;
    display: -moz-box;
	width:100%;
	max-height:150px;
}
.itemNavi .itemimg {
	width:40%;
	margin:0 10px 0 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	position:relative;			
}
.itemNavi .itemimg img {
	width:100%;
	height:auto;
	max-width:140px;
	max-height:140px;
}
.itemNavi .itemimg .rankimg {
	position:absolute;
	top:0;
	left:0;
	width:36px;
	height:30px;
}
.itemNavi .itemdetail {
	width:60%;
	min-width:160px;
	max-height:160px;
	margin:0 20px 0 0;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
}
.itemname {
	font-size:0.857em;/*12px*/
}
.itemset {
	font-size:1.000em;/*14px*/
	color:#FD5C2E;
}
.itemprice {
	font-size:1.571em;/*22px*/
	color:#FD1728;
	padding:10px 0 0;
}
.itemprice_inc {
	font-size:0.8em;/*12px*/
	color:#44A637;
}
.itemone {
	font-size:0.714em;/*10px*/
	line-height:1em;
	padding:0 0 5px;	
}
.aboutitem .itemone {
	padding: 10px 0 5px;
}
.aboutitem .itemprice {
	padding:0;
}
.itemtax {
	padding:0;
	color:#44A637;
	font-size:0.857em;/*12px*/
}
.itempt {
	font-size: 0.714em;/*10px*/
	color: #1380EC;
}

.itemNavi a.item4up {
	display:block;
	background-color:#FFFFFF;
	padding:10px;
	/*width:300px;*/
	height:40px;
	border-bottom:1px solid #E3E6E3;
	font-size:1.143em;/*16px*/
	line-height:40px;
	display: -webkit-box;
    display: -moz-box;
	position: relative;
}
.itemNavi .item4up .itemimg {
	width:23%;
	margin:0 10px 0 0;
	line-height:35px;
	padding:0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.itemNavi .item4up .itemimg img {
	width:56px;
	height:30px;
	vertical-align:bottom;
}
.itemNavi .item4up .itemdetail {
	width:77%;
	margin:0 20px 0 0;
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
}
.itemNavi .item4up .itemdetail p {
	text-align:left;
	width:100%;
}




/* -----------------------------------------------------------
	.flow
		ご注文方法
----------------------------------------------------------- */
.flowimg {
	text-align:center;
	margin:20px auto;
	height:12px;
}
/* -----------------------------------------------------------
	.company
		運営会社
----------------------------------------------------------- */
.company a {
	color:#0291ED;
}
/* -----------------------------------------------------------
	.midorimushi
		ミドリムシについて
----------------------------------------------------------- */
.midorimushi {
}
/* 該当する食品 */
.table05 table {
	margin:10px auto 0;
	width:94%;
	font-size:11px;
}
.table05 td, .table05 th {
	width:62px;
	text-align: center;
}
.table05 th {
	padding: 3px 0;
	background: #FF7D26;
	border:4px solid #FFF;
	border-top:none;
	color: #FFFFFF;
	font-weight:bold;
}
.table05 .table05_img {
	line-height:1.4em;
}
.table05 .table05_txt {
	padding: 5px 0 0;
	height:30px;
	color: #FF7D26;
	font-size: 22px;
	font-weight: bold;
}
.table05 .table05_txt span {
	padding: 0 5px;
	background:#FDFFBB;
}
/* 栄養素 */
.eiyou01, .eiyou02, .eiyou03, .eiyou04, .eiyou05 {
	margin:0 auto 5px;
	width:100%;
}
.eiyoutt {
	line-height:30px;
	width:130px;
	padding:0;
	margin:5px 0;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	　　border-radius: 5px;
	color:#FFFFFF;
}
.eiyoulist {
	width:100%;
}
.eiyoulist li {
	float:left;
	line-height:20px;
/*	width:128px;
*/	padding:2px 5px;
	margin:0 5px 5px 0;
	text-align:center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	　　border-radius: 5px;
	font-size:0.857em;/*12px*/
}
.eiyou01 .eiyoutt {
	background:#FF7D26;
}
.eiyou02 .eiyoutt {
	background:#1AACAC;
}
.eiyou03 .eiyoutt {
	background:#F5B303;
}
.eiyou04 .eiyoutt {
	background:#FF79BC;
}
.eiyou05 .eiyoutt {
	background:#5BB940;
}
.eiyou01 .eiyoulist li {
	background:#FFDEC8;
	border:1px solid #FF7D26;
}
.eiyou02 .eiyoulist li {
	background:#E0F1EB;
	border:1px solid #1AACAC;
}
.eiyou03 .eiyoulist li {
	background:#FEE6A7;
	border:1px solid #F5B303;
}
.eiyou04 .eiyoulist li {
	background:#FFDFEF;
	border:1px solid #FF79BC;
}
.eiyou05 .eiyoulist li {
	background:#C7E8BD;
	border:1px solid #5BB940;
}
.eiyou03 {
	position:relative;
}
p.kome {
	position:absolute;
	left: 145px;
	top: 10px;
	color:#E4A703;
	font-size:0.714em;/*10px*/
}
.eiyou03 li.komebg {
	background:#FCC229 !important;
}
.eiyou04 li.komebg {
	background:#FFACD6 !important;
}
/*----------------------------------------------------
	.qa　よくある質問
----------------------------------------------------*/
.q, .a {
	display:block;
	position:relative;
	margin:7px auto;
	padding: 8px 3px 8px 28px;
	font-size: 16px;
	font-weight: normal;
}
a.q {
	padding-right: 21px;
	text-decoration:underline;
	color: #1FACBC;
}
.a p {
	padding-bottom: 12px;
}
.q::before {
	content:"Q.";
	position:absolute;
	left:3px;
	color: #1FACBC;
	font-weight: bold;
	font-size: 16px;
}
.a::before {
	content:"A.";
	position:absolute;
	left:3px;
	color: #EE4F4F;
	font-weight: bold;
	font-size: 16px;
}

/* .qa dl {
	width:96%;
	padding:0 0 10px;
	border-bottom:dashed 1px #B6B6B6;
	margin:10px auto 20px;
}
.qa dt {
	padding:0 0 5px;
	color:#36BA82;
}
.qa .a {
	color:#EE4F4F;
} */
/*----------------------------------------------------
	.news　お知らせ
----------------------------------------------------*/
#newsNavi .mover12_r {
	background-position:-12px 0;
	margin:15px 0 0 0;	
}
#newsNavi a img {
	vertical-align:bottom;
}
#newsNavi a {
	display:block;
	background-color:#FFFFFF;
	padding:4px 10px;
	min-width:300px;
	height:40px;
	border-bottom:1px solid #E3E6E3;
	font-size:1.000em;/*14px*/
	line-height:40px;
	color:#0291E6;
}
.news .w96 p {
	font-size:1.000em;/*14px*/
	line-height:1.2em;
}
/*----------------------------------------------------
	.news_sokuhou　ニュース速報
----------------------------------------------------*/
.news_sokuhou {
	position:relative;
	padding:13px 8px;
	background:#FFF;
	font-size:0.857em;/*12px*/
	line-height:1.2em;
}
.news_sokuhou::before, .news_sokuhou::after {
	content: "";
	position:absolute;
	width:100%;
	height:5px;
background-color:#ACEBF0;
    background-image: -webkit-linear-gradient(-45deg, #D0F3F7 25%, transparent 25%, transparent 50%, #D0F3F7 50%, #D0F3F7 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #D0F3F7 25%, transparent 25%, transparent 50%, #D0F3F7 50%, #D0F3F7 75%, transparent 75%, transparent);
	background-size: 10px 10px;/*斜線の幅を変更*/
}
.news_sokuhou::before {
	top:0;
	left:0;
}
.news_sokuhou::after {
	bottom:0;
	left:0;
}
.news_sokuhou a {
	color:#0291ED;
}
.indexpage_news {
	margin-top: 10px;
}
.indexpage_news #mainNavi a {
	padding:8px 10px;
	height:auto;
	line-height:1.2;	
}

/*----------------------------------------------------
	.order　商品一覧・詳細
----------------------------------------------------*/
.zoom26 {
	width:100%;
	position:relative;
}
.zoom26 .zoom {
	width:26px;
	height:26px;
	position:absolute;
	bottom:15px;
	right:-15px;
	z-index:100;
	background:url(../img/order_cmn/zoom26.png) left top no-repeat;
}

.orderdetail {
	background:#FFFFFF;
	padding:12px 10px;
	border:1px solid #E3E6E3;
	margin:0;
}
.aboutbox {
	display: -webkit-box;
    display: -moz-box;
	width:100%;
	margin:0 0 10px;
}
.aboutbox .aboutitem {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	width:54%;
}
.aboutbox .aboutpoint {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	width:26%;
}
.aboutpoint p.pnk {
	background:#F53968;
	color:#FFFFFF;
	padding:1px 3px;
	width:114px;
	margin:0 0 3px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:0.857em;/*12px*/
}
.aboutpoint p.grn {
	background:#72BC69;
	color:#FFFFFF;
	padding:3px;
	width:114px;
	line-height:1em;
	margin:0 0 3px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:0.857em;/*12px*/
}
.aboutpoint p.blu {
	background:#1380EC;
	color:#FFFFFF;
	padding:3px;
	width:114px;
	line-height:1em;
	margin:0 0 3px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:0.857em;/*12px*/
}
.bn_goaiyou {
	width:94%;
	margin:0 auto 10px;
	text-align:center;
}
.bn_goaiyou img {
	width:100%;
	max-width:362px;
}

/* キャンペーン */
.bnr_campaign_top img {
	width:100%;
	
}
.campaign_topimg {
	background:#FFF;
	font-size:0.857em;
	line-height:1.2em;
	text-align:center;
}
.campaign_items {
	padding:5px;
	margin:0 auto 10px;
	border:3px solid #FFFABB;
	font-size:0.857em;/*12px*/
}
.campaign_items img {
	width: 80%;
	/*max-width:268px;*/
	max-width:202px;
}
.campaign_items_txt {
	font-size:0.857em;/*12px*/
}

/* 定期注文ボタン(TEL) */
.teiki_order {
	margin:0 auto;
}
.teiki_order .btn_gray_rs {
	padding: 5px 5% 5px 25%;
	width:65%;
	font-size:1.143em;/*16px*/
	height:50px;
	line-height:1.2em;
	position:relative;
	text-align:left;
	color:#0291ED;
	margin:0 auto 5px;
}
.teiki_order .btn_gray_rs img {
	position:absolute;
	width:26px;
	height:26px;
	top:16px;
	left:30px;
}

/* モンドセレクション */
.monde_selection {
	text-align: center;
}
.monde_selection a {
	display:block;
	background:none;
	padding:0;
	width:100%;
	margin:0;
	opacity:1;
}
.monde_selection a:hover {
-webkit-transition: opacity 0.1s ease;
-moz-transition: opacity 0.1s ease;
transition: opacity 0.1s ease;
	opacity:0.8;
}
.proof_monde {
	margin:10px auto;
	padding:10px;
	width:100%;
	text-align:center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.emerald .proof_monde {
	margin:0 auto;
	padding:0;
}
.proof_monde img, 
.monde_selection a img {
	width:100%;
	max-width:740px;
	vertical-align:bottom;
}



/* -----------------------------------------------------------
	.f_order
		フッター注文・電話番号等
----------------------------------------------------------- */
.f_order {
	width:100%;
	padding:20px 0 0;
}
.f_order h4 {
	font-weight:normal;
}
.f_order p {
	text-align:center;
	line-height:1.2em;
	margin:0 0 10px;	
}

/* -----------------------------------------------------------
	#fNavi
		フッターナビ
----------------------------------------------------------- */
#fNavi {
	width:320px;
	height:50px;	
	margin:0 auto 10px;
	overflow:hidden;
}

/* -----------------------------------------------------------
	#gFooter
		フッター
----------------------------------------------------------- */
#gFooter {
	width:100%;
	background:#87B335;
	color:#FFFFFF;
	text-align:center;
	font-size:0.857em;/*12px*/		
}
.flink {
	padding:5px 10px 10px;
	font-size:0.857em;/*12px*/	
}
.flink a {
	color:#FFFFFF;
}
.copy {
	padding:5px 0;
	font-size:0.571em;/*8px*/
}
/*--- #topcontrol ---*/
#topcontrol {
	position: absolute;
	bottom: 15px;
	right: 30%;
	width: 40px;
	height: 40px;
	text-align: right;
}
#topcontrol img {
	width: 100%;
	height: 100%;
	transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	-webkit-transition: opacity 0.1s linear;
	-o-transition: opacity 0.1s linear;
	-ms-transition: opacity 0.1s linear;
	opacity: 0.7;
}
#topcontrol img {
	width: 100%;
	max-width: 50px;
	height: 100%;
	max-height: 50px;
}
#topcontrol img:hover {
	opacity: 1.0;
}

/*広告媒体管理*/
.adImage img {
	display: none !important;
}
